
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

    <title>GraphFM</title>

    <!-- Style / css -->
    <link href="http://fonts.googleapis.com/css?family=Carrois+Gothic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/static/colorbrewer.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/galaxy.css" />

    <!-- Javascript dependencies -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="/static/graph.js"></script>
    <script type="text/javascript" src="/static/lastfm.js"></script>

  </head>

  <body >

    <div id="header" bgcolor="black">

      <h1>GraphFM</h1>

      <p class="control_panel">

	<table cellpadding=1 cellspacing=10 width="100%" class="control_panel">
          <tr>
            <td class="component_name" colspan=2></td>
          </tr>

          <tr>
            <td class="label">User Name:</td>
            <td><input type="text" id="user_name" value="" size=12 /></td>
          </tr>
	  <tr>
	    <td></td>
	    <td>
	      <input type="button" id="add_user_node" value="Add User Node" onClick="add_user_node();" />
	    </td>
	  </tr>
	  <tr>
	    <td></td>
	    <td>
	      <input type="button" id="reset" value="Clear All" onClick="reset();" />
	    </td>
	  </tr>
	  
	  <tr>
	    <td class="label"> Clicking on nodes: </td>
	    <td> 

	      <label>
		<input type="radio" name="click_action" value="select_node" checked="checked">Select Node
	      </label>
	      <br>
	      <label>
		<input type="radio" name="click_action" value="neighbor">Gets Neighbor
	      </label> 
	    </td>
	  </tr>

          <!-- Selected User -->
          <tr>
            <td class="component_name" colspan=2>Selected User</td>
          </tr>
          <tr>
            <td class="label">User Name:</td>
            <td class="text" id="selected_user_name"></td>
          </tr>
          <tr>
            <td class="label">Real Name:</td>
            <td class="text" id="selected_real_name"></td>
          </tr>
          <tr>
            <td class="label">Age:</td>
            <td class="text" id="selected_age"></td>
          </tr>
          <tr>
            <td class="label">Gender:</td>
            <td class="text" id="selected_gender"></td>
          </tr>

          <tr><td colspan="2"></td></tr>
	</table>
	
	<div id="top_artists"></div>

    </div> <!-- header -->

    <div id="graph" style="margin-left: 300px; height: 700px;"></div>
    <div id="footer"> George Herbert Lewis</div>
    
  </body>
  
</html>
