<!DOCTYPE html>
<meta charset="utf-8">

<link rel="stylesheet" type="text/css" href="/static/galaxy.css" />
<!--
<style>

  .node {
  stroke: #fff;
  stroke-width: 1.5px;
  }

  .link {
  stroke: #999;
  stroke-opacity: .6;
  }

</style>
-->
<body>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="{{url_for('static', filename='graph2.js')}}"></script>
  <script>
    var svg = d3.select("body").append("svg:svg")
    .attr("width", 960)
    .attr("height", 700);
    
    graph = new myGraph(svg);

  </script>
